body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1;
  }
  
  header {
    background-color: #004d7a;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }

  nav {
    background-color: #004d7a;
    padding: 1rem;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  h2 {
    color: #004d7a;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.3rem;
    margin-top: 2rem;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }
  
  footer {
    background-color: #004d7a;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  #podcast {
    margin-top: 2rem;
    background-color: #e3f2fd;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #podcast h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #podcast audio {
    width: 100%;
  }

  a{
    text-decoration: none;
  }